body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: black;
}

a:active,
a:visited,
a:link {
    text-decoration:none;
    color: #ffffff;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
    color: #fff;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

header a:hover {
    color: #000000;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    #background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
    background-image: url('http://imageshack.com/a/img924/4329/4J6vch.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 600px;
    text-shadow: 0.25px 0.25px 0.25px #000;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000;
    text-shadow:#fff 1px -1px 2px, #fff -1px 1px 2px, #fff 1px 1px 2px, #fff -1px -1px 2px;
    #text-shadow:#fff -1px -1px 2px;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #000;
    text-shadow:#fff 1px -1px 2px, #fff -1px 1px 2px, #fff 1px 1px 2px, #fff -1px -1px 2px;
    #text-shadow:#fff -1px -1px 2px;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    #color: #fbd1d5;
    color: #ffffff;
    text-shadow: none;
    #background-color: #ffffff;
    background-color: #000000;
}

.btn.btn-primary:hover {
    color: #000000;
    background-color: #ffffff;
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 20px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}
